{
 "openapi": "3.1.0",
 "info": {
  "title": "PublicAML Intelligence API",
  "version": "1.0.0",
  "description": "Free crypto AML/KYT screening. POST an address to /v1/enrich to get a risk score, category, sanctions and source of funds. Chains: bitcoin, ethereum, bsc, tron. No API key."
 },
 "servers": [
  {
   "url": "https://intelapi.publicaml.org"
  }
 ],
 "paths": {
  "/v1/enrich": {
   "post": {
    "operationId": "enrichAddresses",
    "summary": "Screen one or more addresses for money-laundering risk",
    "description": "The primary endpoint. Give it addresses, get back an AML score, a risk band, what the address is (exchange, mixer, gambling, …), whether it is sanctioned or frozen, where its money came from and why the score is what it is.\n\nBatch: up to 100 addresses in one call, each with its own chain, enriched…",
    "tags": [
     "Screening"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "addresses"
        ],
        "properties": {
         "addresses": {
          "type": "array",
          "minItems": 1,
          "maxItems": 100,
          "description": "The addresses to screen. Each needs its own chain.",
          "items": {
           "type": "object",
           "required": [
            "wallet_address",
            "chain"
           ],
           "properties": {
            "wallet_address": {
             "type": "string",
             "description": "The address to screen. NOTE the field name: this endpoint uses `wallet_address`, while the trace and transaction endpoints use `address`.\n\nThe address to look up, in its normal display form.\n\n  * bitcoin  — base58 (`1…`, `3…`) or bech32/bech32m (`bc1…`, `bc1p…`). Case is SIGNIFICANT for base58; do…"
            },
            "chain": {
             "type": "string",
             "enum": [
              "bitcoin",
              "ethereum",
              "bsc",
              "tron"
             ],
             "description": "Which blockchain the address belongs to. Send one of the four values in the enum. The short forms used by the older clients (ETH, BTC, TRX, BNB) and any capitalisation are still accepted, but responses always echo the canonical spelling.\n\nGetting this wrong is the single commonest integration bug:…"
            }
           }
          }
         },
         "include": {
          "type": "array",
          "description": "Which blocks to compute. Default is ['aml_score','category','counterparties','source_of_funds'] — sending a shorter list makes the call cheaper and faster. An unknown value is a 400 rather than a silently dropped field.",
          "items": {
           "type": "string",
           "enum": [
            "aml_score",
            "category",
            "counterparties",
            "source_of_funds",
            "incidents"
           ]
          }
         },
         "top_n": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 10,
          "description": "How many counterparties to return per address."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Per-address results. Check both `entities` and `not_found`.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "One enriched address.",
            "properties": {
             "wallet_address": {
              "type": "string",
              "description": "Echoed in the API's storage form."
             },
             "chain": {
              "type": "string"
             },
             "label": {
              "type": "string",
              "description": "Display name, when the address is attributed."
             },
             "category": {
              "type": "string",
              "description": "Entity type: cex, dex, mixer, gambling, bridge, payment, darknet, …"
             },
             "category_confidence": {
              "type": "number"
             },
             "entity_role": {
              "type": "string",
              "enum": [
               "hot_wallet",
               "cold_wallet",
               "deposit",
               "gas_supplier",
               "treasury",
               "custody"
              ],
              "description": "Which address of the venue this is. Refines `category`, never replaces it."
             },
             "cluster_id": {
              "type": "string",
              "description": "Pass to POST /v1/entities or /v1/cluster-mappings."
             },
             "cluster_size": {
              "type": "integer"
             },
             "sanctioned": {
              "type": [
               "boolean",
               "null"
              ]
             },
             "sanction": {
              "type": "object",
              "properties": {
               "label": {
                "type": "string"
               },
               "source": {
                "type": "string"
               },
               "confidence": {
                "type": "number"
               },
               "jurisdictions": {
                "type": "array",
                "items": {
                 "type": "string"
                }
               },
               "name_derived": {
                "type": "boolean",
                "description": "true = read out of the entity's NAME, with no structured listing behind it."
               }
              }
             },
             "frozen": {
              "type": "boolean",
              "description": "A token issuer has frozen this address."
             },
             "aml_score": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Money-laundering risk, 0 (nothing known against it) to 100. This is a RISK figure, not a share of funds: an address that received 1% of its money from a sanctioned entity can score high, and the number never says how much of the balance is tainted.\n\nIt combines its parts by MAX, not by sum — direct…"
             },
             "risk_level": {
              "type": "string",
              "enum": [
               "LOW",
               "MEDIUM",
               "HIGH",
               "CRITICAL"
              ],
              "description": "The coarse band `aml_score` falls in, for callers that branch rather than plot. Provided so that every integration uses the same thresholds:\n\n  * `LOW`      — score below 25\n  * `MEDIUM`   — 25 to 59\n  * `HIGH`     — 60 to 89\n  * `CRITICAL` — 90 or above, OR `sanctioned: true` at any score\n\nThe san…"
             },
             "aml_score_breakdown": {
              "type": "object",
              "description": "Why `aml_score` is what it is. Combine by MAX, not by sum. Most sub-blocks appear only when they apply, so absence means 'did not fire', never 0.",
              "properties": {
               "direct_exposure": {
                "type": "number",
                "description": "Risk from this address's OWN labels and seeds."
               },
               "indirect_exposure": {
                "type": "number",
                "description": "MAX over the propagated origins — not their sum."
               },
               "behavioral_risk": {
                "type": [
                 "number",
                 "null"
                ],
                "description": "null = no behavioural signal assessed; 0 = assessed and contributed nothing."
               },
               "exposure_direction": {
                "type": "string",
                "enum": [
                 "inbound",
                 "outbound",
                 "mixed"
                ]
               },
               "sanction_direct": {
                "type": "object",
                "description": "Present when the address is itself on a sanctions list.",
                "properties": {
                 "label": {
                  "type": "string"
                 },
                 "score": {
                  "type": "number"
                 },
                 "source": {
                  "type": "string"
                 },
                 "jurisdictions": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  },
                  "description": "US, EU, GB, UN. Absent means the authority was never recorded, not that there is none."
                 }
                }
               },
               "frozen_direct": {
                "type": "object",
                "description": "Token issuer (Tether/Circle) has frozen this address.",
                "properties": {
                 "issuers": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 },
                 "score": {
                  "type": "number"
                 },
                 "tokens": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               },
               "entity_floor": {
                "type": "object",
                "description": "The score was forced to a known-clean floor because the address is identified infrastructure (an exchange hot wallet, a token contract). `raw_score` is what it would have been. Read this before reporting a 0.",
                "properties": {
                 "reason": {
                  "type": "string"
                 },
                 "raw_score": {
                  "type": "number"
                 }
                }
               },
               "incident_bonus": {
                "type": "number",
                "description": "Flat surcharge added because the incident canon names this address as a PARTICIPANT in a recorded incident — `incidents[].implicates_address` is true, i.e. role `perpetrator` or `intermediary`. Flat per address, not per incident: five reports about one address are still one claim. Victims and `ment…"
               },
               "non_wallet": {
                "type": "object",
                "description": "Not a wallet at all: a mint/burn pseudo-address or a token contract. Both exposures forced to 0.",
                "properties": {
                 "reason": {
                  "type": "string"
                 },
                 "suppressed_direct": {
                  "type": "number"
                 },
                 "suppressed_indirect": {
                  "type": "number"
                 },
                 "registry": {
                  "type": "string"
                 }
                }
               },
               "contacts": {
                "type": "object",
                "description": "Real counterparties whose transferred value is below the materiality threshold: recorded on purpose, scored at zero on purpose. A dusting attack must not raise a victim's score.",
                "properties": {
                 "count": {
                  "type": "integer"
                 },
                 "max_value_usd": {
                  "type": "number"
                 },
                 "threshold_usd": {
                  "type": "number"
                 },
                 "reason": {
                  "type": "string"
                 }
                }
               },
               "sanctions_contact": {
                "type": "object",
                "description": "Sub-threshold contact with a designated address. Lifted out of `contacts` because it is reportable regardless of amount.",
                "properties": {
                 "count": {
                  "type": "integer"
                 },
                 "max_value_usd": {
                  "type": "number"
                 },
                 "reason": {
                  "type": "string"
                 }
                }
               },
               "propagated_sources": {
                "type": "array",
                "description": "At most 10 rows, ordered by (hops asc, score desc).",
                "items": {
                 "type": "object",
                 "description": "One risk origin that reached this address through the transaction graph. The money path is `src → … → via → this address` and only the two ends are returned; walk the middle with POST /v1/source-trace.",
                 "properties": {
                  "src": {
                   "type": "string",
                   "description": "The origin the risk started at."
                  },
                  "src_label": {
                   "type": [
                    "string",
                    "null"
                   ]
                  },
                  "category": {
                   "type": [
                    "string",
                    "null"
                   ],
                   "description": "sanction, mixer, hack, phishing, darknet, …"
                  },
                  "source": {
                   "type": [
                    "string",
                    "null"
                   ],
                   "description": "Who made the accusation, e.g. 'ofac:sdn_advanced'."
                  },
                  "source_tier": {
                   "type": [
                    "string",
                    "null"
                   ],
                   "description": "'community-report' for user-filed feeds; null means not tiered down."
                  },
                  "hops": {
                   "type": "integer",
                   "description": "Graph distance from `src` to this address."
                  },
                  "score": {
                   "type": "number",
                   "description": "Hop-decayed RISK contributed by this origin. Never a share of funds."
                  },
                  "via": {
                   "type": [
                    "string",
                    "null"
                   ],
                   "description": "The address that actually paid this one. null at hops 0 and 1."
                  },
                  "via_label": {
                   "type": [
                    "string",
                    "null"
                   ]
                  },
                  "direction": {
                   "type": "string",
                   "const": "inbound"
                  }
                 }
                }
               }
              }
             },
             "source_of_funds": {
              "type": "object",
              "description": "Where the money came from, as CATEGORY buckets — not as addresses and not as a full accounting. The percentages need not sum to 100 and a bucket may legitimately be 0.",
              "properties": {
               "risk_summary": {
                "type": "string",
                "enum": [
                 "low",
                 "medium",
                 "high"
                ]
               },
               "top_sources": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "category": {
                   "type": "string"
                  },
                  "percentage": {
                   "type": "number"
                  },
                  "label": {
                   "type": [
                    "string",
                    "null"
                   ]
                  },
                  "sanctioned": {
                   "type": "boolean"
                  }
                 }
                }
               }
              }
             },
             "counterparties": {
              "type": "array",
              "items": {
               "type": "object",
               "additionalProperties": true
              },
              "description": "Top counterparties by value. Use POST /v1/counterparties for the full picture."
             },
             "incidents": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "A documented incident this address appears in. Read `implicates_address` before presenting it as an accusation: a drained wallet is listed with role='victim' precisely so it is not mistaken for a participant.",
               "properties": {
                "slug": {
                 "type": "string"
                },
                "name": {
                 "type": "string"
                },
                "category": {
                 "type": [
                  "string",
                  "null"
                 ]
                },
                "status": {
                 "type": "string",
                 "enum": [
                  "confirmed",
                  "alleged",
                  "disputed",
                  "retracted"
                 ],
                 "description": "Anything but 'confirmed' must stay visible to the reader."
                },
                "stream": {
                 "type": "string",
                 "enum": [
                  "curated",
                  "community"
                 ],
                 "description": "'curated' is an analyst-recorded investigation; 'community' is a user-filed report. Same shape, NOT the same grade of claim."
                },
                "occurred_at": {
                 "type": [
                  "string",
                  "null"
                 ]
                },
                "summary": {
                 "type": [
                  "string",
                  "null"
                 ]
                },
                "link": {
                 "type": "string",
                 "enum": [
                  "direct",
                  "propagated"
                 ],
                 "description": "'propagated' means the incident belongs to an origin whose risk reached here — it says nothing about this address."
                },
                "role": {
                 "type": [
                  "string",
                  "null"
                 ],
                 "enum": [
                  "perpetrator",
                  "intermediary",
                  "victim",
                  "mentioned",
                  null
                 ]
                },
                "implicates_address": {
                 "type": "boolean"
                },
                "named_in_source": {
                 "type": "boolean",
                 "description": "false = no published source prints this address; the link is our attribution."
                },
                "via": {
                 "type": "object",
                 "properties": {
                  "address": {
                   "type": "string"
                  },
                  "hops": {
                   "type": [
                    "integer",
                    "null"
                   ]
                  }
                 }
                },
                "sources": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "url": {
                    "type": "string"
                   },
                   "title": {
                    "type": [
                     "string",
                     "null"
                    ]
                   },
                   "publisher": {
                    "type": [
                     "string",
                     "null"
                    ]
                   },
                   "tier": {
                    "type": "string",
                    "enum": [
                     "vendor-advisory",
                     "law-enforcement",
                     "security-firm",
                     "media",
                     "social",
                     "internal"
                    ]
                   },
                   "published_at": {
                    "type": [
                     "string",
                     "null"
                    ]
                   },
                   "archive_url": {
                    "type": [
                     "string",
                     "null"
                    ]
                   },
                   "content_sha256": {
                    "type": [
                     "string",
                     "null"
                    ],
                    "description": "SHA-256 of the text we read, so a later edit is detectable."
                   },
                   "names_addresses": {
                    "type": "boolean"
                   },
                   "excerpt": {
                    "type": [
                     "string",
                     "null"
                    ]
                   }
                  }
                 }
                }
               }
              },
              "description": "Opt in with include: ['incidents']."
             },
             "degraded": {
              "type": [
               "object",
               "null"
              ],
              "description": "A backing store did not answer, so this entity is INCOMPLETE. A low score on a degraded entity is not evidence of a clean address.",
              "properties": {
               "reason": {
                "type": "string"
               },
               "calls": {
                "type": "array",
                "items": {
                 "type": "string"
                }
               },
               "causes": {
                "type": "array",
                "items": {
                 "type": "string"
                }
               }
              }
             }
            }
           },
           "description": "One per address we hold data for. May be shorter than the request."
          },
          "not_found": {
           "type": "array",
           "description": "Addresses that produced no entity, and why. This is NOT a clean bill of health.",
           "items": {
            "type": "object",
            "properties": {
             "wallet_address": {
              "type": "string"
             },
             "chain": {
              "type": "string"
             },
             "reason": {
              "type": "string",
              "enum": [
               "address_not_found",
               "unsupported_chain",
               "invalid_address_format"
              ],
              "description": "`address_not_found` — well-formed, but absent from our data. `unsupported_chain` — chain we do not serve. `invalid_address_format` — the address cannot belong to that chain; `detail` and `hint` say how to fix it."
             },
             "detail": {
              "type": "string"
             },
             "hint": {
              "type": "string"
             }
            }
           }
          },
          "request_id": {
           "type": "string",
           "description": "Quote this when reporting a problem."
          },
          "processing_time_ms": {
           "type": "integer"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Malformed request.",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/InvalidAddressError"
          },
          {
           "$ref": "#/components/schemas/Error"
          }
         ]
        }
       }
      }
     },
     "429": {
      "description": "Rate limited (anonymous callers only). Authenticate to remove the limit.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "InvalidAddressError": {
    "type": "object",
    "description": "Returned when the address cannot be an address of the chain it was sent with. It is a self-correcting error: `detail` names the chain the format DOES belong to, so the call can be retried correctly without another lookup. It is never returned for an address that is merely unknown to us — that is `n…",
    "required": [
     "error",
     "detail",
     "hint"
    ],
    "properties": {
     "error": {
      "type": "string",
      "const": "invalid_address_format"
     },
     "detail": {
      "type": "string",
      "description": "What is wrong and what to send instead, naming the likely chain.",
      "examples": [
       "'0x28c6c06298d514db089934071355e5743bf21d60' is not a valid bitcoin address — that format belongs to ethereum, bsc or tron. Re-send with chain='ethereum', or send a bitcoin address."
      ]
     },
     "hint": {
      "type": "string",
      "const": "Check chain matches address prefix",
      "description": "Constant string, safe to match on."
     },
     "invalid": {
      "type": "array",
      "description": "POST /v1/enrich only, and only when EVERY address in the batch was malformed. A batch with at least one usable address answers 200 instead and reports the bad ones in `not_found[]`.",
      "items": {
       "type": "object",
       "properties": {
        "wallet_address": {
         "type": "string"
        },
        "chain": {
         "type": "string"
        },
        "detail": {
         "type": "string"
        }
       }
      }
     },
     "request_id": {
      "type": "string"
     }
    }
   },
   "Error": {
    "type": "object",
    "description": "Ordinary failure. `error` is a short machine-readable reason.",
    "required": [
     "error"
    ],
    "properties": {
     "error": {
      "type": "string"
     },
     "detail": {
      "type": "string",
      "description": "Present when there is more to say."
     },
     "reason": {
      "type": "string"
     }
    }
   }
  }
 }
}